form {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 20px;
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.row h4 {
	width: 30%;
	font-size: 2rem;
	line-height: 1.35;
	letter-spacing: -0.08rem;
	margin: 0;
	font-weight: 300;
}

.row .slider-container {
	width: 70%;
}
