.MultiSelect {
	width: 70%;
	margin-left: calc(20% + 35px);
}
.MultiSelect select {
	margin: 0;
	width: 100%;
	height: 38px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	font-size: 1.5rem;
}
