.MultiRadio {
	width: 70%;
	margin-left: calc(20% + 35px);
}

.MultiRadio label,
.MultiRadio input {
	cursor: pointer;
}

.MultiRadio--beard,
.MultiRadio--body {
	margin-top: 20px;
	margin-bottom: 20px;
}

.MultiRadio--beard nav,
.MultiRadio--body nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.MultiRadio--beard input,
.MultiRadio--body input {
	display: none;
	width: 0;
	height: 0;
}

.MultiRadio--beard input:checked + label,
.MultiRadio--body input:checked + label {
	background-color: orange;
}

.MultiRadio--beard label,
.MultiRadio--body label {
	width: 25%;
	font-size: 0;
	padding: 50px;
	background-size: 100% 100%;
	transition: all 0.2s;
	border: 1px solid orange;
}

.MultiRadio--beard label[for="beard-none"] {
	background: url("./beard-none.png") no-repeat no-repeat center center;
}

.MultiRadio--beard label[for="beard-small"] {
	background: url("./beard-small.png") no-repeat no-repeat center center;
}

.MultiRadio--beard label[for="beard-middle"] {
	background: url("./beard-middle.png") no-repeat no-repeat center center;
}

.MultiRadio--beard label[for="beard-full"] {
	background: url("./beard-full.png") no-repeat no-repeat center center;
}

.MultiRadio--body label[for="body-muscle"] {
	background: url("./body-1.png") no-repeat no-repeat center center;
}

.MultiRadio--body label[for="body-normal"] {
	background: url("./body-2.png") no-repeat no-repeat center center;
}

.MultiRadio--body label[for="body-over"] {
	background: url("./body-3.png") no-repeat no-repeat center center;
}

.MultiRadio--beard label:hover,
.MultiRadio--body label:hover {
	background-size: 110% 110%;
}
