.Result {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Result p {
	margin: 10px 0;
	font-size: 3rem;
	line-height: 1.25;
	letter-spacing: -0.1rem;
}

.result-camel {
	font-weight: 600;
	font-size: 4em;
	display: block;
}
