.slider-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.slider-container .rangeslider {
	width: 80%;
}
.slider-container .value {
	width: 20%;
	margin-right: 35px;
	text-align: right;
	font-size: 2rem;
	color: #666;
}

.rangeslider-horizontal .rangeslider__fill {
	background: #ffa500;
}
